<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Marionette People Manager</title>
    <link href="./Assets/css/bootstrap.css" rel="stylesheet">
    <link href="./Assets/css/application.css" rel="stylesheet">
    <link href="Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div id="app-container">
        <div id="main-region" class="container">
            <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
        </div>
    </div>
    <!--TODO move templates to separate files-->
    <script type="text/template" id="person-template">
        <td>
            <a href="#people/edit/<%= id %>" class="js-edit"><%- firstName %> <%- lastName %></a>
        </td>
        <td>
            <%= yesNo(isPalindrome) %>
        </td>
        <td>
            <%= yesNo(isAuthorised) %>
        </td>
        <td>
            <%= yesNo(isEnabled) %>
        </td>
        <td>
            <%= coloursString %>
        </td>

    </script>

    <script type="text/template" id="colour-template">
        <input type="checkbox"<%- isChecked === true ?  'checked' : '' %>/> <%- name %>
    </script>

    <script type="text/template" id="people-list">

        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Palindrome
                </th>
                <th>
                    Authorised
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Colours
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="missing-person-view">
        <div class="alert alert-error">This contact doesn't exist!</div>
    </script>

    <!--<script type="text/template" id="person-form">
        <form>
            <div class="control-group">
                <label for="person-firstName" class="control-label">First name:</label>
                <input id="person-firstName" name="firstName" type="text" value="<%- firstName %>" />
            </div>
            <div class="control-group">
                <label for="person-lastName" class="control-label">Last name:</label>
                <input id="person-lastName" name="lastName" type="text" value="<%- lastName %>" />
            </div>
            <div class="form-group">
                <input class="check-box" id="person-isAuthorised" name="isAuthorised" type="checkbox">
                <label for="person-isAuthorised" id="control-label">Authorised</label>
            </div>
            <div id="colourListRegion"></div>
            <button class="btn js-submit">Save</button>
            <button class="btn js-cancel">Cancel</button>
        </form>
    </script>-->

<script type="text/template" id="person-form2">
        <h1>Update <%- fullName %></h1>
        <br />
        <fieldset>
            <legend>User Details</legend>
            <!--TODO inline labels and checkboxes-->
            <div>
                <div class="form-group form-inline">
                    <input class="check-box" id="person-isAuthorised" name="isAuthorised" type="checkbox"<%- isAuthorised === true ?  'checked' : '' %>>
                    <label for="isAuthorised" id="isAuthorisedLabel" name="isAuthorisedLabel">Authorised</label>
                </div>
                <br/>
                <div class="form-group form-inline">
                    <input class="check-box" id="person-isEnabled" name="isEnabled" type="checkbox"<%- isEnabled === true ?  'checked' : '' %>>
                    <label for="IsEnabled" id="isEnabledLabel" name="isEnabledLabel">Enabled</label>
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Favourite Colours</legend>
            <div id="colourListRegion"></div>

        </fieldset>
        <br />
        <button class="btn btn-default js-submit">Save Changes</button>
        <button class="btn btn-default js-cancel">Cancel</button>

    </script>


    <script type="text/template" id="list-layout">
        <h1>People</h1>
        <div id="peopleListRegion"></div>
    </script>

    <script src="./Assets/js/vendor/jquery.js">
    </script>
    <script src="./Assets/js/vendor/json2.js"></script>
    <script src="./Assets/js/vendor/underscore.js"></script>
    <script src="./Assets/js/vendor/backbone.js"></script>
    <script src="./Assets/js/vendor/backbone.marionette.js"></script>
    <script src="Assets/js/vendor/handlebars-v4.0.5.js"></script>
    <script src="Assets/js/vendor/lazy-templates.js"></script>
    <!--<script src="Assets/js/apps/config/marionette/templateCache.js"></script>-->
    <script src="Assets/js/vendor/backbone.syphon.js"></script>
    <script src="Assets/js/apps/people/list/replaceBoolean.js"></script>
    <script src="Assets/js/apps/people/edit/hideShowLabels.js"></script>
    <script src="Assets/js/app.js"></script>
    <script src="Assets/js/entities/person.js"></script>
    <script src="Assets/js/apps/people/people_app.js"></script>
    <script src="Assets/js/apps/people/list/list_view.js"></script>
    <script src="Assets/js/apps/people/list/list_controller.js"></script>
    <script src="Assets/js/apps/people/edit/edit_controller.js"></script>
    <script src="Assets/js/apps/people/edit/edit_view.js"></script>

    <script type="text/javascript">
        PeopleManager.start();
    </script>

</body>
</html>
