<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>People Manager</title>
    <link href="Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div id="app-container">
        <div id="main-region" class="container">
        </div>
    </div>
    <script type="text/template" id="people-layout">
        <h1>People</h1>
        <div id="people-list-region"></div>
    </script>

    <script type="text/template" id="people-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Palindrome</th>
                <th>Authorised</th>
                <th>Enabled</th>
                <th>Colours</th>
            </tr>
        </thead>
        <tbody></tbody>
    </script>

    <script type="text/template" id="people-list-none">
        <td colspan="3">No people to display.</td>
    </script>

    <script type="text/template" id="people-list-item">
        <td><a href="#people/edit/<%- id %>"><%- fullName %></a></td>
        <td><%=yesNo(isPalindrome)%></td>
        <td><%=yesNo(isAuthorised)%></td>
        <td><%=yesNo(isEnabled)%></td>
        <td><%-coloursString%></td>
    </script>

    <script type="text/template" id="colour-list-item">
        <div class="form-group">
            <input type="checkbox"><%=isChecked===true?'checked':''%>/><%=name%>
        </div>
    </script>

    <script type="text/template" id="missing-person-view">
        <div class="alert alert-error">This person doesn't exist !</div>
    </script>

    <script type="text/template" id="person-view">
        <h1>Update <%- fullName %></h1>
        <fieldset>
            <legend>User Details</legend>
            <div class="form-group">
                <input type="checkbox" id="is-authorised" name="isAuthorised"><%=isAuthorised===true?'checked':''%>/><label id="is-authorised-label">Authorised</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="is-enabled" name="isEnabled"><%=isEnabled===true?'checked':''%>/><label id="is-enabled-label">Enabled</label>
            </div>

        </fieldset>
        <fieldset>
            <legend>Favourite Colours</legend>
            <div id="favourite-colours"></div>
        </fieldset>

    </script>

    <script type="text/template" id="loading-view">
        <div id="spinner"></div>
    </script>


    <script src="Assets/js/vendor/jquery.js"></script>
    <script src="Assets/js/vendor/underscore.js"></script>
    <script src="Assets/js/vendor/json2.js"></script>
    <script src="Assets/js/vendor/backbone.js"></script>
    <script src="Assets/js/vendor/backbone.marionette.js"></script>
<script src="Assets/js/apps/people/list/yesNo.js"></script>
    <script src="Assets/js/vendor/spin.js"></script>
    <script src="Assets/js/app.js"></script>
    <script src="Assets/js/common/views.js"></script>
    <script src="Assets/js/entities/person.js"></script>
    <script src="Assets/js/apps/people/people_app.js"></script>>
    <script src="Assets/js/apps/people/list/list_controller.js"></script>
    <script src="Assets/js/apps/people/list/list_view.js"></script>
    <script type="text/javascript">
        PeopleManager.start();
    </script>

</body>
</html>
